#nav{
    padding:6px 50px;
    width:100%;
    margin: auto;
}

.navhide{
    display: none;
}
#menu{
    display: none;
}
#logo{
    width:150px;
}

#logintext{
    color: white;
    background-color: black;
    border-radius:100px ;
    height:fit-content;
}
#cpart{
    width:300px;
}
#cpart li{
   font-weight: 500;
}
@media (max-width:1000px) {
    #nav{
        padding:6px 20px 6px 10px;
     
    }
}
@media (max-width:680px) {
    #nav{
        padding:6px 20px 6px 10px;
    }
    #logintext{
       padding: 2px 10px;
    }
    #cpart{
        display: none;
      }
      #menu{
        display: block;
        
      }
}
